
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,600&display=swap');
      
    
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outline Pixel7 Solid:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,600&display=swap');
     body{
        margin:0;

      }
      p{
        margin:0;
        padding:0;
      }
      button{
        background:transparent;
      }
      .container{
        margin:0 auto;
      overflow:auto;
      }
      .container > div{
        margin:0 auto;
      
      }
      input{
        box-sizing:border-box;
        width:100%;
      }
      button{
        cursor:pointer;
        width:100%;
        border:0;
        text-align:center;
      }
      @media only screen and (max-width: 992px) {
        .wrap{
          flex-wrap: wrap;          
        }
      }
    
@media only screen and (max-width:575px)
 { 
 	
.col-xs-1 
 { 
 	width:8.333333333333334% !important;
 	} 

.col-xs-2 
 { 
 	width:16.666666666666668% !important;
 	} 

.col-xs-3 
 { 
 	width:25.0% !important;
 	} 

.col-xs-4 
 { 
 	width:33.333333333333336% !important;
 	} 

.col-xs-5 
 { 
 	width:41.66666666666667% !important;
 	} 

.col-xs-6 
 { 
 	width:50.0% !important;
 	} 

.col-xs-7 
 { 
 	width:58.333333333333336% !important;
 	} 

.col-xs-8 
 { 
 	width:66.66666666666667% !important;
 	} 

.col-xs-9 
 { 
 	width:75.0% !important;
 	} 

.col-xs-10 
 { 
 	width:83.33333333333334% !important;
 	} 

.col-xs-11 
 { 
 	width:91.66666666666667% !important;
 	} 

.col-xs-12 
 { 
 	width:100.0% !important;
 	} 


} 

@media only screen and (min-width:576px)
 { 
 	
.col-s-1 
 { 
 	width:8.333333333333334% !important;
 	} 

.col-s-2 
 { 
 	width:16.666666666666668% !important;
 	} 

.col-s-3 
 { 
 	width:25.0% !important;
 	} 

.col-s-4 
 { 
 	width:33.333333333333336% !important;
 	} 

.col-s-5 
 { 
 	width:41.66666666666667% !important;
 	} 

.col-s-6 
 { 
 	width:50.0% !important;
 	} 

.col-s-7 
 { 
 	width:58.333333333333336% !important;
 	} 

.col-s-8 
 { 
 	width:66.66666666666667% !important;
 	} 

.col-s-9 
 { 
 	width:75.0% !important;
 	} 

.col-s-10 
 { 
 	width:83.33333333333334% !important;
 	} 

.col-s-11 
 { 
 	width:91.66666666666667% !important;
 	} 

.col-s-12 
 { 
 	width:100.0% !important;
 	} 


} 

@media only screen and (min-width:768px)
 { 
 	
.col-m-1 
 { 
 	width:8.333333333333334% !important;
 	} 

.col-m-2 
 { 
 	width:16.666666666666668% !important;
 	} 

.col-m-3 
 { 
 	width:25.0% !important;
 	} 

.col-m-4 
 { 
 	width:33.333333333333336% !important;
 	} 

.col-m-5 
 { 
 	width:41.66666666666667% !important;
 	} 

.col-m-6 
 { 
 	width:50.0% !important;
 	} 

.col-m-7 
 { 
 	width:58.333333333333336% !important;
 	} 

.col-m-8 
 { 
 	width:66.66666666666667% !important;
 	} 

.col-m-9 
 { 
 	width:75.0% !important;
 	} 

.col-m-10 
 { 
 	width:83.33333333333334% !important;
 	} 

.col-m-11 
 { 
 	width:91.66666666666667% !important;
 	} 

.col-m-12 
 { 
 	width:100.0% !important;
 	} 


} 

@media only screen and (min-width:992px)
 { 
 	
.col-l-1 
 { 
 	width:8.333333333333334% !important;
 	} 

.col-l-2 
 { 
 	width:16.666666666666668% !important;
 	} 

.col-l-3 
 { 
 	width:25.0% !important;
 	} 

.col-l-4 
 { 
 	width:33.333333333333336% !important;
 	} 

.col-l-5 
 { 
 	width:41.66666666666667% !important;
 	} 

.col-l-6 
 { 
 	width:50.0% !important;
 	} 

.col-l-7 
 { 
 	width:58.333333333333336% !important;
 	} 

.col-l-8 
 { 
 	width:66.66666666666667% !important;
 	} 

.col-l-9 
 { 
 	width:75.0% !important;
 	} 

.col-l-10 
 { 
 	width:83.33333333333334% !important;
 	} 

.col-l-11 
 { 
 	width:91.66666666666667% !important;
 	} 

.col-l-12 
 { 
 	width:100.0% !important;
 	} 


} 

@media only screen and (min-width:1200px)
 { 
 	
.col-xl-1 
 { 
 	width:8.333333333333334% !important;
 	} 

.col-xl-2 
 { 
 	width:16.666666666666668% !important;
 	} 

.col-xl-3 
 { 
 	width:25.0% !important;
 	} 

.col-xl-4 
 { 
 	width:33.333333333333336% !important;
 	} 

.col-xl-5 
 { 
 	width:41.66666666666667% !important;
 	} 

.col-xl-6 
 { 
 	width:50.0% !important;
 	} 

.col-xl-7 
 { 
 	width:58.333333333333336% !important;
 	} 

.col-xl-8 
 { 
 	width:66.66666666666667% !important;
 	} 

.col-xl-9 
 { 
 	width:75.0% !important;
 	} 

.col-xl-10 
 { 
 	width:83.33333333333334% !important;
 	} 

.col-xl-11 
 { 
 	width:91.66666666666667% !important;
 	} 

.col-xl-12 
 { 
 	width:100.0% !important;
 	} 


} 

@media only screen and (min-width:1400px)
 { 
 	
.col-xxl-1 
 { 
 	width:8.333333333333334% !important;
 	} 

.col-xxl-2 
 { 
 	width:16.666666666666668% !important;
 	} 

.col-xxl-3 
 { 
 	width:25.0% !important;
 	} 

.col-xxl-4 
 { 
 	width:33.333333333333336% !important;
 	} 

.col-xxl-5 
 { 
 	width:41.66666666666667% !important;
 	} 

.col-xxl-6 
 { 
 	width:50.0% !important;
 	} 

.col-xxl-7 
 { 
 	width:58.333333333333336% !important;
 	} 

.col-xxl-8 
 { 
 	width:66.66666666666667% !important;
 	} 

.col-xxl-9 
 { 
 	width:75.0% !important;
 	} 

.col-xxl-10 
 { 
 	width:83.33333333333334% !important;
 	} 

.col-xxl-11 
 { 
 	width:91.66666666666667% !important;
 	} 

.col-xxl-12 
 { 
 	width:100.0% !important;
 	} 


} 
.iphone-14---1
 { 
 	border-width:0.0625rem;
 	border-style:SOLID;
 	border-color:#000000;
 	background-color:rgba(47, 72, 88, 1);
 	display:flow-root;
 	} 
 .wrapper-back-mobile-1
 { 
 	position:relative;
 	height:125.0rem;
 	display:flow-root;
 	margin-bottom:-20.0625rem;
 	} 
 .back-mobile-1
 { 
 	width:24.375rem;
 	display:block;
 	background-image:url('../res/images/Back Mobile 13-4.png');
 	background-position:center;
 	background-size:cover;
 	background-repeat:no-repeat;
 	position:absolute;
 	left:0.0rem;
 	top:0.0rem;
 	} 
 .larva-games-emblem-edited-1
 { 
 	width:22.375rem;
 	display:block;
 	border-radius:3.5625rem;
 	background-image:url('../res/images/Larva Games Emblem Edited 13-6.png');
 	background-position:center;
 	background-size:cover;
 	background-repeat:no-repeat;
 	position:absolute;
 	left:1.0rem;
 	top:13.6875rem;
 	} 
 .text-larva
 { 
 	border-width:0.125rem;
 	border-style:SOLID;
 	border-color:#000000;
 	color:#ffde00;
 	font-family:Outline Pixel7 Solid;
 	font-size:5.625rem;
 	font-weight:400;
 	line-height:4.893750190734863rem;
 	letter-spacing:19.209375rem;
 	width:19.5rem;
 	position:absolute;
 	left:1.5625rem;
 	top:2.8125rem;
 	} 
 .text-games
 { 
 	border-width:0.125rem;
 	border-style:SOLID;
 	border-color:#000000;
 	color:#ffde00;
 	font-family:Outline Pixel7 Solid;
 	font-size:5.625rem;
 	font-weight:400;
 	line-height:4.893750190734863rem;
 	letter-spacing:19.209375rem;
 	width:19.5rem;
 	position:absolute;
 	left:18.625rem;
 	top:15.375rem;
 	} 
 .wrapper-text-
 { 
 	position:absolute;
 	height:22.1875rem;
 	display:flow-root;
 	width:22.375rem;
 	left:1.0rem;
 	top:42.25rem;
 	} 
 .text--7
 { 
 	color:#ffde00;
 	font-family:Outline Pixel7 Solid;
 	font-size:1.875rem;
 	font-weight:400;
 	line-height:1.8937499523162842rem;
 	letter-spacing:0.09375rem;
 	width:19.375rem;
 	position:absolute;
 	left:0.0rem;
 	top:0.0rem;
 	} 
 .text--8
 { 
 	color:#ffde00;
 	font-family:Outline Pixel7 Solid;
 	font-size:1.25rem;
 	font-weight:400;
 	line-height:1.1687500476837158rem;
 	letter-spacing:0.0125rem;
 	width:22.375rem;
 	position:absolute;
 	left:0.0rem;
 	top:2.875rem;
 	} 
 .text--9
 { 
 	color:#ffde00;
 	font-family:Outline Pixel7 Solid;
 	font-size:1.25rem;
 	font-weight:400;
 	line-height:1.087499976158142rem;
 	width:14.6875rem;
 	text-align:RIGHT;
 	position:absolute;
 	left:8.6875rem;
 	top:2.8125rem;
 	} 
 .text--10
 { 
 	color:#ffde00;
 	font-family:Outline Pixel7 Solid;
 	font-size:1.875rem;
 	font-weight:400;
 	line-height:1.8937499523162842rem;
 	letter-spacing:0.09375rem;
 	width:19.375rem;
 	position:absolute;
 	left:1.0rem;
 	top:61.6875rem;
 	} 
 .button-4
 { 
 	display:flow-root;
 	width:22.375rem;
 	position:absolute;
 	left:1.0rem;
 	top:65.5rem;
 	} 
 .icon
 { 
 	margin-right:14.375rem;
 	width:8.0rem;
 	display:block;
 	background-image:url('../res/images/icon4-41.png');
 	background-position:center;
 	background-size:cover;
 	background-repeat:no-repeat;
 	} 
 .wrapper-text-text-0
 { 
 	border-width:0.125rem;
 	border-style:SOLID;
 	border-color:#000000;
 	background-color:rgba(144, 208, 68, 0.30000001192092896);
 	display:flow-root;
 	margin-top:1.25rem;
 	width:22.375rem;
 	} 
 .text-text
 { 
 	border-width:0.125rem;
 	border-style:SOLID;
 	border-color:#000000;
 	color:#ffde00;
 	font-family:Outline Pixel7 Solid;
 	font-size:3.125rem;
 	font-weight:400;
 	line-height:3.15625rem;
 	letter-spacing:0.15625rem;
 	width:22.375rem;
 	text-align:CENTER;
 	} 
 .button-5
 { 
 	display:flow-root;
 	width:22.375rem;
 	position:absolute;
 	left:1.0rem;
 	top:73.5rem;
 	} 
 .icon-0
 { 
 	margin-right:14.375rem;
 	width:8.0rem;
 	display:block;
 	background-image:url('../res/images/icon4-41.png');
 	background-position:center;
 	background-size:cover;
 	background-repeat:no-repeat;
 	} 
 .wrapper-text-text-1
 { 
 	border-width:0.125rem;
 	border-style:SOLID;
 	border-color:#000000;
 	background-color:rgba(144, 208, 68, 0.30000001192092896);
 	display:flow-root;
 	margin-top:1.25rem;
 	width:22.375rem;
 	} 
 .text-text-0
 { 
 	border-width:0.125rem;
 	border-style:SOLID;
 	border-color:#000000;
 	color:#ffde00;
 	font-family:Outline Pixel7 Solid;
 	font-size:3.125rem;
 	font-weight:400;
 	line-height:3.15625rem;
 	letter-spacing:0.15625rem;
 	width:22.375rem;
 	text-align:CENTER;
 	} 
 .button-6
 { 
 	display:flow-root;
 	width:22.375rem;
 	position:absolute;
 	left:1.0rem;
 	top:81.5rem;
 	} 
 .icon-1
 { 
 	margin-right:14.375rem;
 	width:8.0rem;
 	display:block;
 	background-image:url('../res/images/icon4-41.png');
 	background-position:center;
 	background-size:cover;
 	background-repeat:no-repeat;
 	} 
 .wrapper-text-text-2
 { 
 	border-width:0.125rem;
 	border-style:SOLID;
 	border-color:#000000;
 	background-color:rgba(144, 208, 68, 0.30000001192092896);
 	display:flow-root;
 	margin-top:1.25rem;
 	width:22.375rem;
 	} 
 .text-text-1
 { 
 	border-width:0.125rem;
 	border-style:SOLID;
 	border-color:#000000;
 	color:#ffde00;
 	font-family:Outline Pixel7 Solid;
 	font-size:3.125rem;
 	font-weight:400;
 	line-height:3.15625rem;
 	letter-spacing:0.15625rem;
 	width:22.375rem;
 	text-align:CENTER;
 	} 
 